#navigationCell a, b, body, br, caption, div, em, fieldset, form, h1, h2, h3, h4, h5, h6, hr, i, img, input, label, legend, li, p, select, span, strong, table, td, textarea, th, tr, ul {
	margin: 0px; padding: 0px; font-family : Arial, Helvetica, sans-serif; text-decoration:none; 
}

h4 {  letter-spacing:0.3em; }

td { padding-right: 3px; }

html, body{ height:100%; }
body{  background: #eeeef7 repeat-y; font-size:100%; }
table { border-collapse:collapse; }

#contentTable { width:100%; height:100%; }
#contentTable td#navigationCell { width:100px; background: #4b93fe repeat-y; color:#fff; vertical-align:top; }
#contentTable td#contentCell { background: #FFFFFF; color: #010066; vertical-align:top; }

blockquote, input, select, label, p, ul, ol, caption, textarea { font-size:0.69em; }
th, p, label, caption, ul { line-height:1.4em; }

h1, h3, h4, .h4, h5, h6, strong { font-weight:bold; width:auto; }
h2 {  }
h3 { font-size:0.8125em; }
h4, h5 { font-size:0.69em; }
h4.section { font-size:1.1875em; }

#navigationCell .margins { width:150px; margin:24px 16px 24px 16px; }
#navigationCell ul { margin-left:8px; }
#navigationCell li a { padding-left:8px; color:#fff; }
#navigationCell li a:hover { color:#BA9A85; }
#navigationCell li span { font-weight:normal; color:#fff; }

#contentCell .margins { margin:24px 0px 0px 0px; padding-left:1em; voice-family: "\"}\"";  voice-family:inherit; }
#contentCell .margins a:hover { color:#BA9A85; }

#contentCell h3{ background:#FFC850; padding:8px 24px 8px 24px; color:#fff; clear:both; }
#contentCell h4 { background:#B1B1B1; margin:0px 0px 8px 0px; padding:0px 24px 2px 8px; line-height:1.4em; clear:both; }
#contentCell h4.section { background:#B1B1B1; margin:0px 0px 18px 0px; padding:0px 12px 0px 8px; clear:both; }
#contentCell h5 { background:#BA9A85; margin:0px 0px 8px 0px; padding:0px 24px 2px 8px; line-height:1.4em; clear:both;  }

#contentCell p { padding:0px 8px 8px 8px; }
#contentCell p a { text-decoration:underline; }
#contentCell p a:hover { color:#BA9A85; }

#contentCell ul { padding:0px 0px 5px 20px; }

#contentCell table.formTable { margin:10px 10px 10px -1em; width:31em; }
#contentCell table.formTable th, #contentCell table.formTable td { text-align:left; vertical-align:top; padding-bottom:3px; }
#contentCell table.formTable label { display:block; margin-right:16px; }

#contentCell table.formSpecs { margin:0px 8px 24px 0px; width:14em; float:right; }
#contentCell .formSpecs th { text-align:left; font-weight:normal; padding-right:12px; }

#contentCell table.loginForm { margin:24px 8px 0px 8px; }
#contentCell .loginForm th { text-align:left; font-weight:normal; padding:0px 24px 3px 0px; }
#contentCell .loginForm td { padding-bottom:3px; }

#contentCell table.overviewTable { margin:3px 0px 24px 0px; width:31em; }
#contentCell table.overviewTable th { text-align:left; vertical-align:top; padding-left:12px; font-size:0.69em; }
#contentCell table.overviewTable td { vertical-align:top; padding-left:12px; font-size:0.69em; }
#contentCell table.overviewTable td { background:#dde; white-space:nowrap; border-bottom:2px solid #eeeef7; }
#contentCell table.overviewTable td a { color:#de2a8d; text-decoration:underline; margin-right:8px; white-space:nowrap; }

div#links {position: absolute; top: 81px; left: 0; width: 166px; height: 700px; font: 16px Verdana, sans-serif; z-index: 100;}
div#links a {display: block; text-align: center; font: bold 1em sans-serif; 
   padding: 5px 10px; margin: 0 0 1px; border-width: 0; 
   text-decoration: none; color: #FFC; background: #444;
   border-right: 5px solid #505050;}
div#links a:hover {color: #411; background: #AAA;
   border-right: 5px double white;}

/* Edit hover span for the position of the menu desciption. */
div#links a span {display: none;}
div#links a:hover span {display: block;
   position: absolute; top: 320px; left: 0; width: 125px;
   padding: 5px; margin: 10px; z-index: 100;
   color: #FFF; background: #4b93fe;
   font: 10px Verdana, sans-serif; text-align: center;}


